* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  transition: all 0.5s ease;
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 25rem;
  border-radius: 30px;
  padding: 2rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sneaker {
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sneaker img {
  width: 12rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.circle {
  width: 10rem;
  height: 10rem;
  background: linear-gradient(
    67deg,
    rgba(0, 176, 255, 1) 0%,
    rgba(255, 161, 122, 1) 57%
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font-size: 1.9rem;
  transition: all 0.75s ease-out;
}

.info h3 {
  font-size: 1.3rem;
  padding: 1rem 0;
  color: #333;
  font-weight: 400;
  transition: all 0.75s ease-out;
}

.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}

.sizes button {
  padding: 0.5rem 1.2rem;
  background: none;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.sizes button.active {
  background-color: #333;
  color: #fff;
}

.purchases {
  margin-top: 2.5rem;
  transition: all 0.75s ease-out;
}

.purchases button {
  width: 100%;
  padding: 1rem 0;
  background: #f54642;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold;
  color: #fff;
}
